@page
@model FreeBilling.Web.Pages.CustomerBillingModel
@{
}
@*
    //This is specific to development
*@
@section header{
    <base href="/admin" />
}
@section scripts{
    <script type="module" src="http://localhost:5173/src/admin.js"></script>
}
<div id="app"></div>